body{
    background-image: url(background\ image.jpg);
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #adcafe;
    }
    
    li {
    float: left;
    }
    
    li a, .dropbtn {
    display: inline-block;
    color: rgb(59, 108, 168);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    }
    
    li a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(190, 214, 243);
    }
    
    li.dropdown {
    display: inline-block;
    }
    
    .dropdown-content {
    display: none;
    position: absolute;
    background-color: #6061bc;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    }
    
    .dropdown-content a {
    color: rgb(189, 199, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    }
    
    .dropdown-content a:hover {background-color:
    #8777f0;}
    
    .dropdown:hover .dropdown-content {
    display: block;
    }

    p{
        text-align: justify;
        color: rgb(8, 8, 59);
        background-color: rgba(222, 239, 253, 0.662);
        padding: 10px;
        border-radius: 10px;
    }

    h2{
        text-align: center;
        text-decoration-line: underline;
        color: rgb(85, 22, 114);
    }

.active{
    color: pink;
}

.picture{
    width: 600px;
    height: 450px;
    background: none;
    align-items: center;
    border-radius: 25px 25px 25px 25px;
}

img{
    text-align: center;
}

img.picture:hover{
    box-shadow: 1px 3px 5px 5px rgba(50, 50, 50, 0.603);
}

p.image{
    text-align: center;
    background: none;
}