body{
    background-image: url(background\ image.jpg);
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #adcafe;
    }
    
    li {
    float: left;
    }
    
    li a, .dropbtn {
    display: inline-block;
    color: rgb(59, 108, 168);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    }
    
    li a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(190, 214, 243);
    }
    
    li.dropdown {
    display: inline-block;
    }
    
    .dropdown-content {
    display: none;
    position: absolute;
    background-color: #6061bc;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    }
    
    .dropdown-content a {
    color: rgb(189, 199, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    }
    
    .dropdown-content a:hover {background-color:
    #8777f0;}
    
    .dropdown:hover .dropdown-content {
    display: block;
    }

    .active{
        background-color: pink;
    }

    .column {
        float: right;
        width: 33.33%;
        padding: 15px;
        }

    .row::after {
        content: "";
        display: table;
        clear: both;
        }

h2{
    text-align: center;
    text-decoration: underline;
    color: #52539d;
    text-decoration-style: dashed;
}

.tujuan{
    height: 240px;
    width: 320px;
    text-align: center;
    border-radius: 25px 25px 25px 25px;
}

img.tujuan:hover{
    box-shadow: 1px 3px 5px 5px rgba(50, 50, 50, 0.603);
}

p.text{
    text-align: justify;
    background-color: rgba(255, 253, 230, 0.495);
    border-radius: 25px 25px 25px 25px;
    padding: 20px;
}

.kesetaraan{
    height: 240px;
    width: 150;
    text-align: center;
    border-radius: 25px 25px 25px 25px;
}

.kesetaraan:hover{
    box-shadow: 1px 3px 5px 5px rgba(50, 50, 50, 0.603);
}

table{
    border: none;
}

div.column-middle{
    width: 750px;
}